@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tapestry&family=Titan+One&display=swap');

$sidebar: 250px;
$header: 110px;

$lightest: #5eead4;
$light: #10b981;
$medium: #0d9488;
$heavy: #0f766e;
$heavier: #064e3b;

$repel-light: #f1f5f9;
$repel-medium: #d4d4d8;
$repel-heavy: #0f172a;

$sans: "Montserrat", Helvetica, Arial, sans-serif;
$tarp: "Tapestry", Helvetica, Arial, sans-serif;
$titan: "Titan One", cursive;

.md-48 {
	font-size: 48px;
}

.md-36 {
	font-size: 36px;
}

.iconside {
	height: 24px;
	width: 24px;
}

@mixin flex( $dir: row, $just-cont: center, $alg-it: center, $wrp: nowrap ) {
	display: flex;
	flex-flow: $dir $wrp;
	justify-content: $just-cont;
	align-items: $alg-it;
}

@mixin box($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin circle {
	border-radius: 100%;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calc($size / 16px) * 1rem;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity = $opacity-ie);
}

@mixin shadow($col: #fff) {
	text-shadow: 1px 1px 0px $col,
	-1px 1px 0px $col,
	1px -1px 0px $col,
	-1px -1px 0px $col;
}

@mixin gradient($start-color, $end-color, $orientation) {

	background: $start-color;

	@if $orientation == 'vertical' {

		background: -webkit-linear-gradient(top, $start-color, $end-color);
		background: linear-gradient(to bottom, $start-color, $end-color);

	} @else if $orientation == 'horizontal' {

	  background: -webkit-linear-gradient(left, $start-color, $end-color);
	  background: linear-gradient(to right, $start-color, $end-color);

	} @else {

	  background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
	  background: radial-gradient(ellipse at center, $start-color, $end-color);

	}
}